
* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: cadetblue;
    padding: 10px;
    color: aliceblue;
}
p,a{
    padding: 30px;
}
input{
    padding: 5px;

}

textarea{
    padding: 7px;
    width: 95%;
}
button{
    padding: 10px;
    background-color:cadetblue;
    color: white;
    border: none;
}