
* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    background-color: cadetblue;
    padding: 10px;
    color: aliceblue;
}
.content{
    padding: 30px;
    background-color: whitesmoke;
}
input{
    padding: 5px;
}
textarea{
    padding: 7px;
    width: 95%;
}
button{
    padding: 10px;
    background-color:cadetblue;
    color: white;
    border: none;
}
h1{
    color:cadetblue;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* hover effect */
a:hover{
    color: green;
}
button:hover{
    background-color: white;
    color: cadetblue;
    border: 1px solid cadetblue;

}