<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="nav"><b><H3>Sampark</H3></b></div>
            <p>Ye sampark Kare ek webapplication h, yaha se app sampark kar sakte, apna issue message me drop kare sirfh yahi allow h, sampark pe click karo, fill karo, tumhara detailes mil jayega. Tata bye🤑🫡</p>
            <a href="/sampark">SAMPARK KARE</a>

        
    </div>
    
</body>
</html>